* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6cb3a910-a3af-4d5a-8a65-f5f2c0672573/d4f8ej9-04879e6a-bbc9-4cc6-8364-6edfe1a4143c.jpg/v1/fill/w_1280,h_960,q_75,strp/cork_board_texture_12_by_carlbert_d4f8ej9-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05NjAiLCJwYXRoIjoiXC9mXC82Y2IzYTkxMC1hM2FmLTRkNWEtOGE2NS1mNWYyYzA2NzI1NzNcL2Q0ZjhlajktMDQ4NzllNmEtYmJjOS00Y2M2LTgzNjQtNmVkZmUxYTQxNDNjLmpwZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.N_BheyPikOSHH-5nferIoz2QVYJkbDvIxURkiu12LDU"); */
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

/* header */
body > nav {
  grid-area: nav;
  /* background-color: #b8c0c2; */
  background-color: #8fcfd1;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 30px;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}
.navHelp {
  float: right;
  margin-right: 0;
}
.right-right {
  color: white;
}
#kanban {
  font-family: "Kaushan Script", cursive;
  font-size: 20px;
}
/* main  */
body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  margin: 0 auto;
}

.collapseTitle {
  display: flex;
  flex-wrap: wrap;
}

.titleBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-family: "Kaushan Script", cursive;
  font-size: x-large;
}

.taskText {
  min-width: 140px;
  border: 1px dotted grey;
}

.md-15 {
  font-size: 15px;
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgba(246, 239, 166, 0.3); */
}

.bg::after {
  content: "";
  /* background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6cb3a910-a3af-4d5a-8a65-f5f2c0672573/d4f8ej9-04879e6a-bbc9-4cc6-8364-6edfe1a4143c.jpg/v1/fill/w_1280,h_960,q_75,strp/cork_board_texture_12_by_carlbert_d4f8ej9-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05NjAiLCJwYXRoIjoiXC9mXC82Y2IzYTkxMC1hM2FmLTRkNWEtOGE2NS1mNWYyYzA2NzI1NzNcL2Q0ZjhlajktMDQ4NzllNmEtYmJjOS00Y2M2LTgzNjQtNmVkZmUxYTQxNDNjLmpwZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.N_BheyPikOSHH-5nferIoz2QVYJkbDvIxURkiu12LDU"); */
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.backgroundBtn {
  align-self: flex-end;
  height: 30px;
}
/* landing page, main */
#free {
  border-radius: 10px;
  font-size: 25px;
  background-color: #364652;
  padding: 5px 10px;
  width: 136px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}
/* first section */
#moto {
  margin: 10px;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  color: white;
}
.kanban {
  font-family: "Kaushan Script", cursive;
}
.aClass {
  color: white;
}
.aClass:hover {
  opacity: 0.5;
  text-decoration: none;
  color: white;
}

/* help section */
.helpSection {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 950px;
  margin-bottom: 100px;
}
.helpTitle {
  margin: 20px;
  margin-top: 0;
}
.helpHere {
  text-align: justify;
  margin-left: 20px;
}
/* help section */
.funSection {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 950px;
  margin-bottom: 100px;
}
.funTitle {
  margin-top: 0;
  text-align: right;
  margin-right: 20px;
}
.funHere {
  text-align: justify;
  margin-right: 20px;
}

/* Team Section */
#team {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.teamMembers {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.teamsections {
  margin: 5px auto;
  font-size: 30px;
}
#sana {
  margin: 10px;
  max-width: 300px;
}
#janet {
  margin: 10px;
  max-width: 300px;
}
#jungu {
  margin: 10px;
  max-width: 300px;
}
img {
  max-width: 300px;
}
.myName {
  margin-top: 5px;
  margin-bottom: 5px;
}
.myInfo {
  text-align: justify;
  max-width: 300px;
}
/* footer */
footer {
  grid-area: footer;
  /* background-color: #b8c0c2; */
  background-color: #8fcfd1;
  opacity: 0.8;
  /* display: flex; */
  text-align: center;
  color: black;
  padding: 0 20px 0 30px;
}
.footerGithub,
.footerLinkedin {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}
.teamsLinksP,
.teamsLinks {
  font-size: 12px;
  max-width: 950px;
  color: black;
}
.myFooter a {
  color: black;
}

.teamsLinks a {
  color: black;
}
.teamsLinks {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-right: 20px;
  margin-left: 20px;
}
.gitHubIcon,
.linkdInIcon {
  width: 24px;
}
.newbak {
  background-image: url("https://magicmockups.com/media/screen/guest/51/8148af9d5a024392a8b677bbfd53a701_30_1600.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 350px;
  margin-bottom: 10px;
}
