* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

/* header */
body > nav {
  grid-area: nav;
  background-color: #b8c0c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 30px;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}
.navHelp {
  float: right;
  margin-right: 0;
}
/* main  */
body > main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  align-items: left;
  background-color: #e8eceb;
  padding: 20px;
  overflow-y: scroll;
}

/* boards */
.boards {
  display: inline-block;
  border: 2px solid black;
  margin: 5px;
  min-width: 50px;
  border-radius: 5px;
}

.addBorad {
  background-color: gray;
  opacity: 0.5;
  max-height: 50px;
}
/* Tasks */
.tasks,
.boardsName {
  display: block;
  border: 2px solid black;
  margin: 5px;
  min-width: 50px;
  border-radius: 5px;
}
